# To get the platform and the matched role

In [3]:
from pandas.core.frame import DataFrame
import pandas as pd
df_1 = pd.DataFrame(columns=['Role','Post_on'])
df_1.loc[1]={'Role':'GAMER',
            'Post_on':'Reddit'}
df_1.loc[2]={'Role':'GAMER',
            'Post_on':'Twitter'}
df_1 
# Import all the libraries needed
# Establish the Role-Post_on sheet

    Role  Post_on
1  GAMER   Reddit
2  GAMER  Twitter

In [4]:
df_2 = pd.DataFrame(columns=['Role','Post_on'])
df_2.loc[1]={'Role':'GAMECONTENT',
            'Post_on':'Twitter'}
df_2

          Role  Post_on
1  GAMECONTENT  Twitter

In [5]:
df_3 = pd.DataFrame(columns=['Role','Post_on'])
df_3.loc[1]={'Role':'GAMEDEVELOPER',
            'Post_on':'Instagram'}
df_3

            Role    Post_on
1  GAMEDEVELOPER  Instagram

In [6]:
relationship = pd.concat([df_1,df_2,df_3])
relationship
# Get the relationship between Role and Post_on

            Role    Post_on
1          GAMER     Reddit
2          GAMER    Twitter
1    GAMECONTENT    Twitter
1  GAMEDEVELOPER  Instagram

In [7]:
relationship.to_csv("relationship_final.csv",index=False)
# Save all the data to the csv file named relationship_final.csv

To read all the 3 related csv to make them a total.

In [6]:
csv1 = pd.read_csv(r'GameCompanyFinal2.csv')
csv2 = pd.read_csv(r'GameContent2.csv')
csv3 = pd.read_csv(r'Gamer_Final2.csv')
# Read all the 3 csv files

Now we get all the 3 entities' relationships: game content, game developer and gamer.

In [7]:
community = pd.concat([csv1,csv2,csv3])
community
# Concat all the 3 csv files into one

C:\Users\cytus\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,Content_name,Game_name,Name,Role,id
0,NaN,POKEMON,NaN,GAMEDEVELOPER,1711337410
1,NaN,POKEMONGO,NaN,GAMEDEVELOPER,3112963973
2,NaN,DETECTIVE PIKACHU,NaN,GAMEDEVELOPER,4956568977
0,pikachu,NaN,NaN,GAMECONTENT,1
1,eevee,NaN,NaN,GAMECONTENT,2
2,shiny,NaN,NaN,GAMECONTENT,3
3,swordandshield,NaN,NaN,GAMECONTENT,4
4,pokemonletsgo,NaN,NaN,GAMECONTENT,5
0,NaN,NaN,FPSheffield,GAMER,112142573451651
1,NaN,NaN,chocolat373love,GAMER,112142572708831
2,NaN,NaN,chocolat373love,GAMER,112142570729533
3,NaN,NaN,TOONADOcom,GAMER,112142544177490
4,NaN,NaN,MieSorasanporyo,GAMER,112142426137616
5,NaN,NaN,min_zun,GAMER,112142125836368
6,NaN,NaN,r_k_y_261212,GAMER,112142081210216
7,NaN,NaN,pemos2603,GAMER,112142054110396
8,NaN,NaN,Tanatosup,GAMER,112142050394243
9,NaN,NaN,maximumeast,GAMER,112142041687289
10,NaN,NaN,aimiyarashi,GAMER,112141931488665
11,NaN,NaN,eric_skavinsk,GAMER,112141927074179
12,NaN,NaN,Rapun_saki_1128,GAMER,112141795130162
13,NaN,NaN,msdoxo,GAMER,112141794129417
14,NaN,NaN,Takechan_050426,GAMER,112141711786403
15,NaN,NaN,mrszulferino,GAMER,112141638152896
16,NaN,NaN,RINNAyuki,GAMER,112141604454170
17,NaN,NaN,s2_satsuki_s2,GAMER,112141564023598
18,NaN,NaN,zamas_megane,GAMER,112141407537465
19,NaN,NaN,shinjuku1999,GAMER,112141405963765
20,NaN,NaN,nawamawara,GAMER,112141377056619
21,NaN,NaN,Bentoandco,GAMER,112141355262183
...,...,...,...,...,...
9453,NaN,NaN,t3_ar3yxt,GAMER,ar3yxt
9454,NaN,NaN,t3_ar3wll,GAMER,ar3wll
9455,NaN,NaN,t3_ar3vg5,GAMER,ar3vg5
9456,NaN,NaN,t3_ar3gxi,GAMER,ar3gxi
9457,NaN,NaN,t3_ar3gpa,GAMER,ar3gpa
9458,NaN,NaN,t3_ar1mmm,GAMER,ar1mmm
9459,NaN,NaN,t3_ar1iod,GAMER,ar1iod
9460,NaN,NaN,t3_ar0uru,GAMER,ar0uru
9461,NaN,NaN,t3_aqxxy1,GAMER,aqxxy1
9462,NaN,NaN,t3_aqxk19,GAMER,aqxk19
9463,NaN,NaN,t3_aqwnn7,GAMER,aqwnn7
9464,NaN,NaN,t3_aqtwyn,GAMER,aqtwyn
9465,NaN,NaN,t3_aqqua6,GAMER,aqqua6
9466,NaN,NaN,t3_aqqrte,GAMER,aqqrte
9467,NaN,NaN,t3_aqqeuv,GAMER,aqqeuv
9468,NaN,NaN,t3_aqqcdq,GAMER,aqqcdq
9469,NaN,NaN,t3_aqpuaj,GAMER,aqpuaj
9470,NaN,NaN,t3_aqp7f4,GAMER,aqp7f4
9471,NaN,NaN,t3_aqnmip,GAMER,aqnmip
9472,NaN,NaN,t3_aqnqrv,GAMER,aqnqrv
9473,NaN,NaN,t3_aqn7ya,GAMER,aqn7ya
9474,NaN,NaN,t3_aqiuya,GAMER,aqiuya
9475,NaN,NaN,t3_aqgy58,GAMER,aqgy58
9476,NaN,NaN,t3_aqgc1x,GAMER,aqgc1x
9477,NaN,NaN,t3_aqd9za,GAMER,aqd9za
9478,NaN,NaN,t3_aqci0i,GAMER,aqci0i
9479,NaN,NaN,t3_aqc3qz,GAMER,aqc3qz
9480,NaN,NaN,t3_aq8zo5,GAMER,aq8zo5
9481,NaN,NaN,t3_aq7oux,GAMER,aq7oux
9482,NaN,NaN,t3_aq6bpu,GAMER,aq6bpu

In [8]:
community.to_csv("community.csv",index=False)
# Export it to csv file and delete the index column